#navbar + * {
  margin-top: 40px;
}
#navbar:not(.vertical) {
  height: 54px !important;
}
#navbar:not(.vertical) .header {
  margin: auto 0.5em;
}
#navbar .header {
  margin: 0.3em 0.5em;
}
@media only screen and (min-width: 768px) {
  #navbar + * {
    margin-top: 73px;
  }
  #navbar:not(.vertical) {
    height: auto !important;
  }
}

#barSegment {
  position: absolute;
  top: -0.6em;
  right: 0.5em;
  height: calc(52px - 1em);
  width: 4em;
  padding-top: 0.1em;
  padding-right: 0.6em;
  margin-top: 14px;
  text-align: center;
}
