#navbar + * {
  margin-top: 75px;
}
#navbar {
  overflow: hidden !important;
  height: auto !important;
  transition: height 400ms ease-in-out;
}
#navbar.vertical {
  height: 54px !important;
}
#navbar.vertical.expanded {
  height: calc(54px + 22em) !important;
}
/* @media only screen and (min-width: 768px) {
  #navbar + * {
    margin-top: 73px;
  }
  #navbar:not(.vertical) {
    height: auto !important;
  }
} */

#barSegment {
  position: absolute;
  top: -0.6em;
  right: 0.5em;
  height: calc(52px - 1em);
  width: 4em;
  padding-top: 0.1em;
  padding-right: 0.6em;
  margin-top: 14px;
  text-align: center;
}
