#navbar {
  overflow: hidden !important;
  height: auto !important;
  transition: height 400ms ease-in-out;
}
#navbar + * {
  margin-top: 75px;
}
#navbar.vertical {
  height: 54px !important;
}
#navbar.vertical.expanded {
  height: 56px !important;
}
#barSegment {
  position: absolute;
  top: -0.6em;
  right: 0.5em;
  height: calc(52px - 1em);
  width: 4em;
  padding-top: 0.1em;
  padding-right: 0.6em;
  margin-top: 14px;
  text-align: center;
}
